.header {
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(126, 181, 230);
    box-shadow: 0px 1px 20px 0px black;
}

.header__title {
    color: rgb(230, 20, 90);
    text-align: center;
}

.header__title:hover {
    color: brown;
}